/***
 Steinwurf css, Copyright Steinwurf ApS 2012
***/

html, body
{
    height:100%;
    margin:0;
    padding: 0;
/**    background-color:#e8e8e8;**/
    background-color:#F1F1F1;
/**    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;**/
    font-family: 'Questrial', sans-serif;
}

@font-face
{
    font-family: steinwurf_font;
    src: url('axaxax_lt.ttf');
}

#steinwurf_font
{
    font-family:steinwurf_font;
}


h1
{
    font-family:steinwurf_font;
    font-size: 30px;
}

h2
{
    font-size: 27px;
}

h3
{
    font-size: 19px;
/*    color: gray;*/
}

p
{
    font-size:17px;
}

a
{

}

#container {
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:#E6E6E6;
    width: 800px;
    padding: 0;
    margin-bottom: -64px;
}

.header
{
    width: 790px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 100px;
    background-color: #2f2f2f;
    color: #8DC63F;
    text-align: center;
    border-radius: 15px;

	-webkit-box-shadow: 0 16px 18px -6px black;
	   -moz-box-shadow: 0 16px 18px -6px black;
	        box-shadow: 0 16px 18px -6px black;
    background-color: #2f2f2f;
    border-radius: 2px 2px 4px 4px;
}

.content
{
}

.footer
{
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
/*    background-color: #2f2f2f;*/
    height: 47px;
}

#wrap
{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.posts span {
    color: gray;
    font-size: 80%;
}

ul.posts li {
    font-size: 16px;
    margin-bottom: 0.3em;
}


ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.links span
{
}

ul.links li
{
    margin-bottom: 0.3em;
}


/* a:link */
/* { */
/*     COLOR: orange; */
/*     text-decoration: none; */
/* } */

/* a:visited */
/* { */
/* /    COLOR: #8DC63F; */
/*     text-decoration: none; */
/* } */

/* a:hover */
/* { */
/*     COLOR: #FF0000; */
/*     text-decoration: none; */
/* } */

/* a:active */
/* { */
/*     COLOR: #8DC63F; */
/*     text-decoration: none; */
/* } */



