<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Steinwurf-labs : Research and experimental code" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/steinwurf.css">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  </head>

<body>
  <div id="container">

    <div class="header">
    <div id="one-edge-shadow">
      <a href="{{site.url}}/index.html"> <img src="{{site.url}}/images/steinwurf_transparent.svg" vspace="20" alt="Steinwurf" > </a>
    </div>
    </div>

    <div class="content">
      <div id="wrap">
        {{ content }}
      </div>
    </div>

  </div>

  <div class="footer">
    <hr />
    <div id="wrap">
      <div id="steinwurf_font">
        Copyright &copy {{page.year}} <a href="https://github.com/steinwurf">Steinwurf</a>
        </div>
    </div>
  </div>



</html>
